<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="flareon-pokemon-multicolor"/>
  <volume firstid="0" lastid="7397">
   <metadata type="volume" key="name" value="flareon-pokemon-multicolor"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="flareon-pokemon-multicolor.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="127.98567581176758"/>
   <metadata type="volume" key="source_offset_y" value="128.01019668579102"/>
   <metadata type="volume" key="source_offset_z" value="36.443809493757087"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="7398" lastid="8837">
   <metadata type="volume" key="name" value="Generic-Cylinder"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.20000000000000001 0 0 -3.2989004788672389 0 0.20000000000000001 0 -25.002026630717772 0 0 0.20000000000000001 -67.900932312011719 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="flareon-pokemon-multicolor.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="1"/>
   <metadata type="volume" key="source_offset_x" value="-1.6494503021240234"/>
   <metadata type="volume" key="source_offset_y" value="-12.501013278961182"/>
   <metadata type="volume" key="source_offset_z" value="-33.950466156005859"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
