<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="Merged"/>
  <volume firstid="0" lastid="11">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.35050333535636469 0 0.1388888888888889 0 -0.24937999069889827 0 0 0.1388888888888889 -1.25 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="12" lastid="23">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.35050333535636469 0 0.1388888888888889 0 -0.24937999069889827 0 0 0.1388888888888889 3.75 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="24" lastid="35">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.35050333535636469 0 0.1388888888888889 0 4.7506200093011017 0 0 0.1388888888888889 3.75 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="4"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="36" lastid="47">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.35050333535636469 0 0.1388888888888889 0 -5.2493799906988983 0 0 0.1388888888888889 3.75 0 0 0 1"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="5"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
