<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="Merged"/>
  <volume firstid="0" lastid="11">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.70100678002799555 0 0.1388888888888889 0 -0.4987598639746551 0 0 0.1388888888888889 -2.5 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="tee.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="0.35050344467163086"/>
   <metadata type="volume" key="source_offset_y" value="-0.24937987327575684"/>
   <metadata type="volume" key="source_offset_z" value="-1.25"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="0"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="12" lastid="23">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.70100678002799555 0 0.1388888888888889 0 -0.4987598639746551 0 0 0.1388888888888889 7.5 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="tee.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="1"/>
   <metadata type="volume" key="source_offset_x" value="0.35050344467163086"/>
   <metadata type="volume" key="source_offset_y" value="-0.24937987327575684"/>
   <metadata type="volume" key="source_offset_z" value="3.75"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="24" lastid="35">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.70100678002799555 0 0.1388888888888889 0 9.5012400168160553 0 0 0.1388888888888889 7.5 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="tee.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="2"/>
   <metadata type="volume" key="source_offset_x" value="0.35050344467163086"/>
   <metadata type="volume" key="source_offset_y" value="4.7506200075149536"/>
   <metadata type="volume" key="source_offset_z" value="3.75"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="4"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="36" lastid="47">
   <metadata type="volume" key="name" value="Shape-Box"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.1388888888888889 0 0 0.70100678002799555 0 0.1388888888888889 0 -10.498759983183945 0 0 0.1388888888888889 7.5 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="tee.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="3"/>
   <metadata type="volume" key="source_offset_x" value="0.35050344467163086"/>
   <metadata type="volume" key="source_offset_y" value="-5.2493799924850464"/>
   <metadata type="volume" key="source_offset_z" value="3.75"/>
   <metadata type="volume" key="source_is_builtin_volume" value="1"/>
   <metadata type="volume" key="extruder" value="5"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
